@import url(global.css);

nav {
    width: 1200px;
}

.about {
    box-sizing: border-box;
    border: 3px solid var(--dark-green);
    border-radius: 0 5px 5px 5px;
    box-shadow: 5px 5px 3px #b2b0ad;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 64px;
    margin: 0 auto 40px auto;
    width: 1200px;
    height: 875px;
    overflow: auto;
}

.about_text {
    padding: 32px;
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about_image {
    width: 475px;
}

.about_education {
    gap: 32px;
}

.about_education ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.about_education p {
    font-size: 20px;
    margin-top: 8px;
}

.about_education .date {
    color: var(--dark-green);
    margin-top: 0;
}

.dark-mode .about {
    box-shadow: 5px 5px 8px inset var(--darker-green);
}

.dark-mode .date{
    color: var(--light-green)
}