@import url(global.css);

/* === Footer Layout === */
footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 16px auto;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.footer-wrapper p {
    font-size: 1rem;
}

/* === Language Toggles === */
.language-toggles a {
    background-image: linear-gradient(var(--white), 80%, var(--light-green));
    border: 2.5px solid var(--dark-green);
    color: var(--dark-green);
    border-radius: 4px;
    font-family: var(--paragraph-font);
    font-size: 0.9rem;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 3px;
    padding: 5px;
    margin: 0 6px;
    transition: 0.3s;
}

#language-toggle-eng {
    padding: 5px 11px;
}

.language-toggles a:hover {
    background-image: linear-gradient(var(--white), 30%, var(--light-green));
    text-decoration-color: var(--dark-green);
}

/* === Dark Mode === */
.dark-mode .language-toggles a {
    background-image: linear-gradient(var(--pitch-black), 80%, var(--darker-green));
    border: 2.5px solid var(--light-green);
    color: var(--light-green);
}

.dark-mode .language-toggles a:hover {
    background-image: linear-gradient(var(--pitch-black), 20%, var(--darker-green));
    text-decoration-color: var(--light-green);
}

/* === Media Queries === */
@media (max-width: 480px) {
    /* Footer Layout */
    .footer-wrapper {
        padding: 10px;
        width: 100%;
        margin: 8px auto 8px auto;
    }

    /* Typography */
    .language-toggles a {
        font-size: 0.75rem;
    }

    .footer-wrapper p {
        font-size: 0.8rem;
        margin-top: 5px;
    }
}