@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url(header.css);
@import url(footer.css);

/* === CSS Variables === */
:root {
    --dark-green: #626F47;
    --light-green: #bac695;
    --darker-green: #2b3020;
    --white: #eeebe4;
    --black: #292929;
    --pitch-black: #0e0e0e;
    --title-font: Krona One;
    --paragraph-font: Nunito Sans;
}

/* === Reset & Base Styles === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: var(--white);
    color: var(--black);
    margin: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

#theme-switch {
    position: absolute;
    background: transparent;
    border: none;
    top: 2%;
    left: 2%;
}

#theme-switch:active {
    animation: spin 1s infinite linear;
}

/* === Star Animations === */

.star_top {
    position: absolute;
    top: 20%;
    left: 5%;
    animation: upAndDownTop 3s infinite linear;
    animation-timing-function: ease-in-out;
}

.star_bottom {
    position: absolute;
    bottom: 20%;
    right: 7%;
    animation: upAndDownBottom 3s infinite linear;
    animation-timing-function: ease-in-out;
}

.star_top:hover {
    animation: spin 2s infinite linear;
}

.star_bottom:hover {
    animation: spin 1.5s infinite linear;
}

@keyframes upAndDownTop {
    0% { transform: rotate(-5deg); }
    25%  { transform: translateY(-10px) rotate(0deg); }
    50% { transform: rotate(5deg); }
    75%  { transform: translateY(-10px) rotate(0deg); }
    100% { transform: rotate(-5deg); }
}

@keyframes upAndDownBottom {
    0% { transform: rotate(3deg); }
    25%  { transform: translateY(-15px) rotate(0deg); }
    50% { transform: rotate(-3deg); }
    75%  { transform: translateY(-15px) rotate(0deg); }
    100% { transform: rotate(3deg); }
}

@keyframes spin {
    0% { transform: rotate(-360deg); }
    100% { transform: rotate(360deg); }
}

/* === Typography === */
strong {
    color: var(--dark-green);
}

h1 {
    font-family: var(--title-font);
    font-size: 36px;
}

h2 {
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 300;
}

p {
    font-family: var(--paragraph-font);
    font-size: 24px;
}

/* === Dark Mode === */
.dark-mode { 
    background-color: #0e0e0e;
    color: var(--white);
}

.dark-mode strong {
    color: var(--light-green);
}