@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url(header.css);
@import url(footer.css);

/* === CSS Variables === */
:root {
    --dark-green: #626F47;
    --light-green: #bac695;
    --darker-green: #2b3020;
    --white: #eeebe4;
    --black: #292929;
    --pitch-black: #0e0e0e;
    --title-font: Krona One;
    --paragraph-font: Nunito Sans;
}

/* === Reset & Base Styles === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: var(--white);
    color: var(--black);
    margin: auto;
}

/* === Typography === */
strong {
    color: var(--dark-green);
}

h1 {
    font-family: var(--title-font);
    font-size: 36px;
}

h2 {
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 300;
}

p {
    font-family: var(--paragraph-font);
    font-size: 24px;
}

/* === Dark Mode === */
.dark-mode {
    background-color: #0e0e0e;
    color: var(--white);
}

.dark-mode strong {
    color: var(--light-green);
}