@import url(global.css);

/* === Navigation Bar === */
nav {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 500px;
    padding: 4% 16px 0 0;
    margin: 0 auto;
}

nav a {
    background-image: linear-gradient(var(--white), 20%, var(--dark-green));
    border: 2.5px solid var(--dark-green);
    border-radius: 4px 13px 0 0;
    box-shadow: 4px 0 2.5px #b2b0ad;
    border-bottom-style: none;
    padding: 13px;
    color: var(--white);
    font-family: var(--title-font);
    margin-right: 13px;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 6px;
    transition: 0.3s;
}

nav a:hover {
    background-image: linear-gradient(var(--white), 50%, var(--dark-green));
    text-decoration: underline;
    text-underline-offset: 6px;
}

.selected {
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* === Dark Mode === */
.dark-mode nav a {
    background-image: linear-gradient(var(--pitch-black), 25%, var(--dark-green));
    border: 2.5px solid var(--dark-green);
    box-shadow: none;
    border-bottom-style: none;
    color: var(--pitch-black);
}

.dark-mode nav a:hover {
    background-image: linear-gradient(var(--pitch-black), 50%, var(--dark-green));
}

/* === Media Queries === */
@media (max-width: 480px) {
    /* Navigation Bar */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        padding: 4% 16px 0 0;
        margin: 0 auto;
    }

    nav a {
        background-image: none;
        border: none;
        box-shadow: none;
        padding: 13px;
        color: var(--dark-green);
        font-size: 0.8rem;
    }

    nav a:hover {
        background-image: none;
    }

    /* Dark Mode */
    .dark-mode nav a {
        background-image: none;
        border: none;
        box-shadow: none;
        color: var(--light-green);
    }

    .dark-mode nav a:hover {
        background-image: none;
    }
}