@import url(global.css);

/* === Layout Containers === */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 32px 16px;
    margin: 0 auto;
}

/* === Intro Text === */
.intro_text {
    border: 2.5px solid var(--dark-green);
    border-radius: 0 4px 4px 4px;
    box-shadow: 4px 4px 2.5px #b2b0ad;
    padding: 50px;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* === Intro Links === */
.intro_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.intro_links h2 {
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 400;
}

.intro_links a {
    background-image: linear-gradient(var(--white), 80%, var(--light-green));
    display: flex;
    justify-content: center;
    gap: 13px;
    border: 2.5px solid var(--dark-green);
    width: 225px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    padding: 16px 0;
    text-decoration: none;
    font-family: Nunito Sans;
    font-weight: 700;
    color: var(--dark-green);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 6px;
    transition: 0.3s;
}

.intro_links a:hover {
    background-image: linear-gradient(var(--white), 20%, var(--light-green));
    text-decoration-color: var(--dark-green);
    text-underline-offset: 6px;
}


/* === Dark Mode === */
.dark-mode .intro_text {
    box-shadow: 4px 4px 6px inset var(--darker-green);
}

.dark-mode .intro_links a {
    background-image: linear-gradient(var(--pitch-black), 80%, var(--darker-green));
    border: 2.5px solid var(--light-green);
    color: var(--light-green);
}

.dark-mode .intro_links a:hover {
    background-image: linear-gradient(var(--pitch-black), 20%, var(--darker-green));
    text-decoration-color: var(--light-green);
}