@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --dark-green: #626F47;
    --light-green: #bac695;
    --white: #dedcd8;
    --black: #292929;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: auto;
    min-height: 100vh;
}

strong {
    color: var(--dark-green);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0 20px;
    margin: 0 8%;
}

h1 {
    font-family: Krona One;
    font-size: 36px;
}

p {
    font-family: Nunito Sans;
    font-size: 24px;
}

.apresentacao_texto {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links h2 {
    font-family: Krona One;
    font-size: 24px;
    font-weight: 400;
}

.apresentacao_links a {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--dark-green);
    width: 280px;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: Nunito Sans;
    font-weight: 700;
    color: var(--dark-green);
}

.apresentacao_links a:hover {
    background-color: var(--light-green);
}

.apresentacao_imagem {
    width: 475px;
}

